In [2]:
#Now let's open it with pandas
import pandas as pd
from pandas import Series,DataFrame

# Loading the data
df = pd.read_csv('C:\\Users\\Saiful_desv\\Desktop\\Segmentation in Python\\segmentation_draft.csv')


# We could also get overall info for the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5357 entries, 0 to 5356
Data columns (total 5 columns):
market               5357 non-null object
producer             5357 non-null object
totalcomb            5357 non-null int64
newrfpdtq            5357 non-null int64
combnewrenrfpsold    5357 non-null int64
dtypes: int64(3), object(2)
memory usage: 209.3+ KB

In [3]:
# Let's see a preview of the data
df.head()

    market producer  totalcomb  newrfpdtq  combnewrenrfpsold
0  Arizona    Ariz1          1          0                  1
1  Arizona    Ariz2          2          2                  0
2  Arizona    Ariz3          6          4                  0
3  Arizona    Ariz4          1          0                  0
4  Arizona    Ariz5          1          0                  0

In [4]:
# Summary of all variables
df.describe(include='all')

       market producer    totalcomb    newrfpdtq  combnewrenrfpsold
count    5357     5357  5357.000000  5357.000000        5357.000000
unique     19     5357          NaN          NaN                NaN
top     NY/NJ   MidA87          NaN          NaN                NaN
freq      590        1          NaN          NaN                NaN
mean      NaN      NaN     9.570655     3.751353           2.161284
std       NaN      NaN    26.475525    10.938084           6.940947
min       NaN      NaN     0.000000     0.000000           0.000000
25%       NaN      NaN     1.000000     0.000000           0.000000
50%       NaN      NaN     2.000000     1.000000           0.000000
75%       NaN      NaN     6.000000     2.000000           1.000000
max       NaN      NaN   384.000000   153.000000         110.000000